* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: hsl(230, 20%, 80%);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}